/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------- general elements */

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

/*----------------------------- the nav_bar */

header ul li {
  display:inline-block;
  padding: 5px;
  float:left;
  margin: 20px;
  border-radius: 10px;
}

header ul li a{
  text-decoration: none;
  color:white;
}

header ul li:hover {
   background: #cecece;
}

.logout {
  float:right;
}

header{
  height: 10vh;
  background: #3A808C;
}

/*----------------------------- the user_menu */

#user_menu {
  height: 100vh;
  width: 20vw;
  color: white;
  background: #1A3A40;
}

#user_menu ul {
  margin-top: 20vh;
  height: 70vh;
  overflow:scroll;
}

#user_menu ul li {
 text-align:center;
 width: 90%;
 margin:5%;
}
#user_menu ul li a {
  color: white;
}

#user_menu ul li:hover{
  background: #3A808C;
}


/*----------------------------- the entry_forms wrapper */

#entry_forms {
  margin: 0px auto;
  border-radius: 10px;

  padding-top: 20vh;
  text-align:center;
}

#entry_forms form input {
  height: 20px;
  margin: 10px;
} 

#entry_forms form label{
  margin: 10 10 0 10;
}


/*----------------------------- the posts */

.post {
  width: 50%;
  height:auto;
  padding: 20px 10px;
}

.post p {
  margin: 10px 0px;
}

.message{
  font-size: 18px;
}

/*----------------------------- the walls */

#wall, #post_wall{
  padding-top: 5vh;
  width:60vw;
  float:right;
  overflow:scroll;
  height:90vh;
}

#wall h1{
  padding-bottom: 5vh;
}