<ul>
    <li> <%= link_to posts_path do %>
            Posts page
        <% end %>
    </li>
    <li> <%= link_to walls_path do %>
           my wall
        <% end %>
    </li>

    <% if user_signed_in? %>

      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

    <% end %>
</ul>