<div id='user_menu'>
    <h1> List Of Users: </h1>
    <ul>
    <% User.all.each do| user | %>
        <li><a href='/walls?name=<%= user.user_name %>'><%= user.user_name %></a></li>
    <% end %>
    </ul>
</div>