<div id='user_menu'>
    <h1> List Of Users: </h1>
    <ul>
    <% @users.each do| user | %>
        <li>
            <%= link_to walls_path(:user_name => user.user_name) do %>
                 <%= user.user_name %>
            <% end %>
        </li>
    <% end %>
    </ul>
</div>